<div class="header">
  <div class="header__content">
    <nav class="header-nav">
      <div class="logo">
        <img src="./img/logo/logo.png" alt="Logo" />
        <img class="logo-text" src="./img/logo/logo-text.svg" alt="TRAVELx" />
      </div>

      <ul class="nav list-reset">
        <li class="nav__item ">
          <a href="#" class="nav__link">Destinations</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Activities</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>

      <button class="extra-nav-btn btn-reset">
        <img src="./img/icons/nav-icon.svg" alt="Nav btn" />
      </button>
    </nav>


  </div>

</div>
