<div class="header">

  <div class="header-slider">
    <img src="./img/header/bg-1.jpg" alt="Bg 1" class="header-slider__item" aria-hidden="true" />
    <img src="./img/header/bg-2.jpg" alt="Bg 2" class="header-slider__item" aria-hidden="true" />
    <img src="./img/header/bg-3.jpg" alt="Bg 3" class="header-slider__item" aria-hidden="true" />
    <img src="./img/header/bg-4.jpg" alt="Bg 4" class="header-slider__item" aria-hidden="true" />
    <img src="./img/header/bg-5.jpg" alt="Bg 5" class="header-slider__item" aria-hidden="true" />
  </div>

  <div class="header-slider-controls">
    <div class="header-slider-controls__arrows">
      <button class="btn-reset" id="sliderPrev"><img src="./img/icons/arrow-left.svg" alt="Prev"></button>
      <button class="btn-reset" id="sliderNext"><img src="./img/icons/arrow-right.svg" alt="Next"></button>
    </div>

    <div class="header-slider-controls__count">
      <span class="header-slider-controls__count-current" id="sliderCurrent">0</span>
      / <span id="sliderTotal">0</span>
    </div>
  </div>

  <div class="header__content">
    <nav class="header-nav">
      <div class="logo">
        <img src="./img/logo/logo.png" alt="Logo" />
        <img class="logo-text" src="./img/logo/logo-text.svg" alt="TRAVELx" />
      </div>

      <ul class="nav list-reset" data-menu>
        <li class="nav__item">
          <a href="#" class="nav__link">Destinations</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Activities</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Contact</a>
        </li>
      </ul>

      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger id="btn">
        <span class="burger__line"></span>
      </button>
    </nav>

    <div class="header-title">
      <div class="header-title__small">EXPLORE</div>
      <h1 class="header-title__big">Norway</h1>

      <ul class="header-socials list-reset">
        <li class="header-socials__list">
          <a class="header-socials__link" href="#">
            <img src="./img/socials/facebook.svg" alt="Link" />
          </a>
        </li>
        <li class="header-socials__list">
          <a class="header-socials__link" href="#">
            <img src="./img/socials/twitter.svg" alt="Link" />
          </a>
        </li>
        <li class="header-socials__list">
          <a class="header-socials__link" href="#">
            <img src="./img/socials/instagram.svg" alt="Link" />
          </a>
        </li>
      </ul>
    </div>

    <div class="header-tips">
      <a href="#!" class="tip">
        <span class="tip__title">Trondheim</span>
        <span class="tip__text">Plan a trip</span>
      </a>

      <a href="#!" class="tip">
        <span class="tip__title">Geirangerfjord</span>
        <span class="tip__text">Plan a trip</span>
      </a>

      <a href="#!" class="tip">
        <span class="tip__title">Lofoten</span>
        <span class="tip__text">Plan a trip</span>
      </a>
    </div>
  </div>

  <a href="#!" class="header-seemore">SEE MORE</a>

</div>

</div>
