@media (max-width: 1670px) {
  .header-title__small {
    font-size: 20px;
  }

  .header-title__big {
    font-size: 150px;
  }

  .header-tips {
    column-gap: 15px;
  }

  .tip {
    padding-left: 60px;
    background-position: 15px 40px;
    width: 23%;
  }
}

@media (max-width: 1140px) {
  .nav {
    display: none;
  }

  .header-tips {
    visibility: hidden;
  }

  .tip {
    width: 0;
    height: 0;
    padding: 0;
  }

  .header-title__small {
    font-size: 16px;
  }

  .header-title__big {
    font-size: 100px;
  }

  .tns-nav button {
    height: 60px;
  }
}
